$first-font:'shrikhand';
$second-font:'roboto';

$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

$first-background: #f5f5f5;

@mixin position{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
@mixin position-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button{
    padding: 15px 20px 15px 20px;
    margin-top: 10px;
    border-radius: 50px;
    border: none;
    font-family: $second-font;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    box-shadow: 0px 5px 5px lightgrey;
}
@keyframes slidein {
    from {
        transform: translateY(20px);
        opacity:0;
    }
    to {
        transform: translateY(0);
        opacity:1;
    }
}

body{
    margin: 0px;
}

/* Header */
header{
    display: flex;
    
    .logo{
        font-size: 30px;
        font-family: $first-font;
        margin-bottom: 5px;
        width: 100%;
        padding: 10px 20px 6px 0px;
        @include position-center;

        .logo-title{
            margin: 0px;
        }
    }
    .icon{
        font-size: 20px;
        color: #353535;
        padding: 20px 0px 20px 15px;
        display: flex;
        align-items: flex-end;
        text-decoration: none;
    }
}

main, footer{
    font-family: $second-font;
}
article{
    position: relative;
    z-index: 1;

    .image{
        max-width: 100%;
        max-height: 512px;
        width: 100%;
        object-fit: cover;
    }
}
/* Menu */
main{
    position: relative;
    z-index: 2;
    border-radius: 35px 35px 0px 0px;
    background-color: $first-background;
    padding: 15px 0px 0px 15px;
    margin-top: -40px;
    height: 100%;
    
    .title-heart{
        @include position;

        h1{
            font-family: $first-font;
            font-size: 25px;
            font-weight: 400;
        }
        .icon{
            height: 32px;
            width: 32px;
            font-size: 32px;
            margin: 15px 20px 0px 0px;

            .fa-regular.fa-heart{
                position: absolute;
                z-index: 1;
                color: black;
            }
            .fa-solid.fa-heart{
                position: absolute;
                z-index: 2;
                opacity: 0;
                background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
                background-clip: text;
                color: transparent;
                transition: 0.8s;
            }
            .fa-solid.fa-heart:hover{
                opacity: 1;
            }
        }   
    }
    .menu{
        padding-bottom: 30px;
        height: 23%;
        h2{
            font-size: 18px;
            font-weight: 400;
            padding-bottom: 6px;
            width: 40px;
            border-bottom: $tertiary-color solid 4px;
        }
        .dish{
            background-color: white;
            border-radius: 20px;
            margin: 0px 15px 15px 0px;
            box-shadow: 5px 5px 10px lightgrey;
            display: flex;
            cursor: pointer;
            overflow: hidden;
            animation: slidein 1.5s;

            .dish-name{
                padding: 6px 0px 6px 14px;
                flex: 1;
                overflow: hidden;

                h3, p{
                    margin: 4px 0px 4px 0px;
                    font-size: 16px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                p{
                    font-weight: 200;
                }
            }
            .text-price{
                display: flex;
                align-items: flex-end;
                padding: 6px 14px 6px 10px;
                margin-bottom: 4px;
            }
            .checkbox{
                background-color: #99e2d0;
                margin: 0px -70px 0px 16px;
                width: 4rem;
                @include position-center;
                transition-duration: .5s;

                .check{
                    background-color: white;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    color: $tertiary-color;
                    @include position-center;
                    cursor: pointer;
                    transform: rotate(180deg);
                    transition-duration: 0.5s;
                }
            }
        }
        .dish:hover .checkbox{
            margin-right: 0px;
            border-radius: 0px 20px 20px 0px;  
        }
        .dish:hover .check{
            transform: rotate(0);
        }
    }

    .container{
        @include position;
        justify-content: center;
        padding-bottom: 30px;

        button{
            @include button;
            transition: 350ms;
        }
        button:hover{
            filter: brightness(1.1);
            box-shadow: 0px 7px 7px darkgrey;
            cursor: pointer;
        }
    }
}

/* Footer */
footer{
    background-color: #353535;
    color: white;
    padding: 10px 0px 20px 20px;

    h3{
        font-family: "shrikhand";
        font-weight: 200;
        margin-bottom: 10px;
    }
    ul{
        padding-left: 0px;
        margin-top: 0px;
        list-style: none;

        li{
            a{
                text-decoration: none;
                color: white;
                display: flex;
                align-items: baseline;
                height: 40px;
            }

            .fa-solid.fa-utensils{
                font-size: 16px;
                margin-right: 10px;
            }
            .fa-solid.fa-handshake-angle{
                font-size: 12px;
                margin-right: 10px;
            }
            .no-icon{
                align-items: center; 
            }
        }
    }
}

@media screen and (min-width: 992px){

    main{
        .all-menus{
            display: flex;
            .menu{
                width: 30%;
                padding: 0px 0px 0px 30px;
            }
        }
    }
}