@-webkit-keyframes slidein {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes slidein {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
body {
  margin: 0px;
}

/* Header */
header {
  display: flex;
}
header .logo {
  font-size: 30px;
  font-family: "shrikhand";
  margin-bottom: 5px;
  width: 100%;
  padding: 10px 20px 6px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo .logo-title {
  margin: 0px;
}
header .icon {
  font-size: 20px;
  color: #353535;
  padding: 20px 0px 20px 15px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

main, footer {
  font-family: "roboto";
}

article {
  position: relative;
  z-index: 1;
}
article .image {
  max-width: 100%;
  max-height: 512px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Menu */
main {
  position: relative;
  z-index: 2;
  border-radius: 35px 35px 0px 0px;
  background-color: #f5f5f5;
  padding: 15px 0px 0px 15px;
  margin-top: -40px;
  height: 100%;
}
main .title-heart {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
main .title-heart h1 {
  font-family: "shrikhand";
  font-size: 25px;
  font-weight: 400;
}
main .title-heart .icon {
  height: 32px;
  width: 32px;
  font-size: 32px;
  margin: 15px 20px 0px 0px;
}
main .title-heart .icon .fa-regular.fa-heart {
  position: absolute;
  z-index: 1;
  color: black;
}
main .title-heart .icon .fa-solid.fa-heart {
  position: absolute;
  z-index: 2;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: 0.8s;
}
main .title-heart .icon .fa-solid.fa-heart:hover {
  opacity: 1;
}
main .menu {
  padding-bottom: 30px;
  height: 23%;
}
main .menu h2 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 6px;
  width: 40px;
  border-bottom: #99E2D0 solid 4px;
}
main .menu .dish {
  background-color: white;
  border-radius: 20px;
  margin: 0px 15px 15px 0px;
  box-shadow: 5px 5px 10px lightgrey;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  -webkit-animation: slidein 0.8s;
          animation: slidein 0.8s;
}
main .menu .dish .dish-name {
  padding: 6px 0px 6px 14px;
  flex: 1;
  overflow: hidden;
}
main .menu .dish .dish-name h3, main .menu .dish .dish-name p {
  margin: 4px 0px 4px 0px;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .menu .dish .dish-name p {
  font-weight: 200;
}
main .menu .dish .text-price {
  display: flex;
  align-items: flex-end;
  padding: 6px 14px 6px 10px;
  margin-bottom: 4px;
}
main .menu .dish .checkbox {
  background-color: #99e2d0;
  margin: 0px -70px 0px 16px;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}
main .menu .dish .checkbox .check {
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
main .menu .dish:hover .checkbox {
  margin-right: 0px;
  border-radius: 0px 20px 20px 0px;
}
main .menu .dish:hover .check {
  transform: rotate(0);
}
main .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  justify-content: center;
  padding-bottom: 30px;
}
main .container button {
  padding: 15px 20px 15px 20px;
  margin-top: 10px;
  border-radius: 50px;
  border: none;
  font-family: "roboto";
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 5px lightgrey;
  transition: 350ms;
}
main .container button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 7px 7px darkgrey;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #353535;
  color: white;
  padding: 10px 0px 20px 20px;
}
footer h3 {
  font-family: "shrikhand";
  font-weight: 200;
  margin-bottom: 10px;
}
footer ul {
  padding-left: 0px;
  margin-top: 0px;
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: baseline;
  height: 40px;
}
footer ul li .fa-solid.fa-utensils {
  font-size: 16px;
  margin-right: 10px;
}
footer ul li .fa-solid.fa-handshake-angle {
  font-size: 12px;
  margin-right: 10px;
}
footer ul li .no-icon {
  align-items: center;
}

@media screen and (min-width: 992px) {
  main .all-menus {
    display: flex;
  }
  main .all-menus .menu {
    width: 30%;
    padding: 0px 0px 0px 30px;
  }
}/*# sourceMappingURL=Restaurants.css.map */