@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes animate {
  0% {
    opacity: 1;
    z-index: 10;
  }
  90% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes animate {
  0% {
    opacity: 1;
    z-index: 10;
  }
  90% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
body {
  margin: 0px;
}

/* Loader */
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  -webkit-animation: animate 2s;
          animation: animate 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.loader .loader-spin {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356DC;
  border-right: 16px solid #FF79DA;
  border-bottom: 16px solid #99E2D0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear;
          animation: spin 2s linear;
}

/* Header */
.logo {
  font-size: 30px;
  font-family: "shrikhand";
  margin-bottom: 5px;
}

.logo, .location {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

main, footer {
  font-family: "roboto";
}

/* Main : Location - Presentation - Tuto - Restaurant */
main .location {
  background-color: #e5e5e5;
  box-shadow: inset 0px 2px 2px #c5c5c5;
}
main .location .city {
  padding-left: 15px;
}
main .presentation {
  background-color: #f5f5f5;
  padding: 20px 0px 50px 0px;
}
main .presentation .title, main .presentation .text {
  text-align: center;
  padding: 0px 20px 0px 20px;
}
main .presentation .text {
  font-weight: 100;
  font-size: 18px;
}
main .container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
main .container button {
  padding: 15px 20px 15px 20px;
  margin-top: 10px;
  border-radius: 50px;
  border: none;
  font-family: "roboto";
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 5px 5px lightgrey;
  transition: 350ms;
}
main .container button:hover {
  filter: brightness(1.1);
  box-shadow: 0px 7px 7px darkgrey;
  cursor: pointer;
}
main .tuto .tuto-explaination .tuto-step {
  display: flex;
  align-items: baseline;
  background-color: #f5f5f5;
  height: 70px;
  border-radius: 20px;
  margin-bottom: 15px;
  align-items: center;
  width: 90%;
  margin-left: 25px;
  box-shadow: 5px 5px 10px lightgrey;
}
main .tuto .tuto-explaination .tuto-step .number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-size: 14px;
  position: absolute;
  left: 28px;
}
main .tuto .tuto-explaination .tuto-step .fa-sharp.fa-solid {
  color: #7e7e7e;
  margin: 0 20px 0 32px;
  font-size: 16px;
}
main .tuto .tuto-explaination .tuto-step .tuto-text {
  font-size: 16px;
  font-weight: 600;
}
main .tuto .tuto-explaination .tuto-step:hover {
  background-color: #f5edff;
}
main .tuto .tuto-explaination .tuto-step:hover .fa-sharp.fa-solid {
  color: #9356DC;
}
main .tuto, main .restaurant {
  padding: 40px 10px 50px 10px;
}
main .restaurant {
  background-color: #f5f5f5;
}
main .restaurant article {
  height: 100%;
}
main .restaurant article .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px lightgrey;
}
main .restaurant article .card .image-new {
  display: flex;
  justify-content: end;
}
main .restaurant article .card .image-new .image {
  position: relative;
  z-index: 1;
  width: 100%;
  max-height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
main .restaurant article .card .image-new .new {
  position: absolute;
  z-index: 2;
  background-color: #99E2D0;
  padding: 8px 8px 8px 8px;
  border-radius: 5px;
  margin: 10px 10px 0px 0px;
}
main .restaurant article .card .image-new .new b {
  color: #99E2D0;
  filter: brightness(0.5);
}
main .restaurant article .card .image {
  position: relative;
  z-index: 1;
  width: 100%;
  max-height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
main .restaurant article .card .restaurant-name {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
main .restaurant article .card .restaurant-name h2, main .restaurant article .card .restaurant-name .place {
  font-size: 20px;
  color: black;
  margin: 6px 0px 6px 0px;
}
main .restaurant article .card .restaurant-name .name {
  padding: 0px 0px 10px 10px;
}
main .restaurant article .card .restaurant-name .icon {
  height: 32px;
  width: 32px;
  font-size: 32px;
  margin: 10px 20px 0px 0px;
}
main .restaurant article .card .restaurant-name .icon .fa-regular.fa-heart {
  position: absolute;
  z-index: 1;
  color: black;
}
main .restaurant article .card .restaurant-name .icon .fa-solid.fa-heart {
  position: absolute;
  z-index: 2;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: 0.8s;
}
main .restaurant article .card .restaurant-name .icon .fa-solid.fa-heart:hover {
  opacity: 1;
}

/* Footer */
footer {
  background-color: #353535;
  color: white;
  padding: 10px 0px 20px 20px;
}
footer h3 {
  font-family: "shrikhand";
  font-weight: 200;
  margin-bottom: 10px;
}
footer ul {
  padding-left: 0px;
  margin-top: 0px;
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: baseline;
  height: 40px;
}
footer ul li .fa-solid.fa-utensils {
  font-size: 16px;
  margin-right: 10px;
}
footer ul li .fa-solid.fa-handshake-angle {
  font-size: 12px;
  margin-right: 10px;
}
footer ul li .no-icon {
  align-items: center;
}

@media screen and (min-width: 768px) {
  main .tuto .tuto-explaination {
    display: flex;
  }
  main .tuto .tuto-explaination .tuto-step {
    position: relative;
  }
  main .tuto .tuto-explaination .tuto-step .number {
    z-index: 2;
    left: -12px;
  }
  main .tuto .tuto-explaination .tuto-step .tuto-text {
    font-size: 14px;
  }
  main .restaurant article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .restaurant article .card {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  main .tuto .tuto-explaination .tuto-step .tuto-text {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */