$first-font:'shrikhand';
$second-font:'roboto';

$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;

$first-background: #f5f5f5;

@mixin position{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

@mixin button{
    padding: 15px 20px 15px 20px;
    margin-top: 10px;
    border-radius: 50px;
    border: none;
    font-family: $second-font;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background: linear-gradient(to bottom right, $secondary-color, $primary-color);
    box-shadow: 0px 5px 5px lightgrey;
}
/* Header */
.logo{
    font-size: 30px;
    font-family: $first-font;
    margin-bottom: 5px;
}
.logo, .location{
    @include position;
}
main, footer{
    font-family: $second-font;
}

/* Main : Location - Presentation - Tuto - Restaurant */
main{
    
    .location{
        background-color: #e5e5e5;
        box-shadow: inset 0px 2px 2px #c5c5c5;

        .city{
            padding-left: 15px;
        }
    }
    
    .presentation{
        background-color: $first-background;
        padding: 20px 0px 50px 0px;

        .title,.text{
            text-align: center;
            padding: 0px 20px 0px 20px;
        }
        .text{
            font-weight: 100;
            font-size: 18px;
        }
    }
    .container{
        @include position;

        button{
            @include button;
            transition: 350ms;
        }
        button:hover{
            filter: brightness(1.1);
            box-shadow: 0px 7px 7px darkgrey;
            cursor: pointer;
        }
    }
    .tuto .tuto-explaination{

        .tuto-step{
            display: flex;
            align-items: baseline;
            background-color: $first-background;
            height: 70px;
            border-radius: 20px;
            margin-bottom: 15px;
            align-items: center;
            width: 90%;
            margin-left: 25px;
            box-shadow: 5px 5px 10px lightgrey;

            .number{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-color: $primary-color;
                color: white;
                font-size: 14px;
                position: absolute;
                left: 32px; 
            }
            .fa-sharp.fa-solid{
                color: #7e7e7e;
                margin: 0 20px 0 32px;
                font-size: 16px;
            }
            .tuto-text{
                font-size: 16px;
                font-weight: 600;
            }
        }
        .tuto-step:hover{
            background-color: #f5edff;
            .fa-sharp.fa-solid{
                color: $primary-color;
            }
        }
    }

    .tuto, .restaurant{
        padding: 40px 10px 50px 10px;
    }

    .restaurant{
        background-color: $first-background;

        article{
            height: 100%px;

            .card{
                width: 100%;
                display: flex;
                flex-direction: column;
                background-color: white;
                border-radius: 20px;
                text-decoration: none;
                margin-bottom: 20px;
                box-shadow: 5px 5px 10px lightgrey;

                .image{
                    width: 100%;
                    max-height: 180px;
                    object-fit: cover;
                    border-radius: 20px 20px 0px 0px;
                }
                .new{
                    position: absolute;
                    background-color: $tertiary-color;
                    padding: 8px 8px 8px 8px;
                    border-radius: 5px;
                    margin: 11px 0px 0px 250px;
                    b{
                        color: $tertiary-color;
                        filter: brightness(0.5);
                    }
                    
                }
                .restaurant-name{
                    padding-top: 10px;
                    display: flex;
                    justify-content: space-between;

                    h2, .place{
                        font-size: 20px;
                        color: black;
                        margin: 6px 0px 6px 0px;
                    }
                    .name{
                        padding: 0px 0px 10px 10px;
                    }
                    .icon{
                        height: 32px;
                        width: 32px;
                        font-size: 32px;
                        margin: 10px 20px 0px 0px;

                        .fa-regular.fa-heart{
                            position: absolute;
                            z-index: 1;
                            color: black;
                        }
                        .fa-solid.fa-heart{
                            position: absolute;
                            z-index: 2;
                            opacity: 0;
                            background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
                            background-clip: text;
                            color: transparent;
                            transition: 0.8s;
                        }
                        .fa-solid.fa-heart:hover{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

/* Footer */
footer{
    background-color: #353535;
    color: white;
    padding: 10px 0px 20px 20px;

    h3{
        font-family: "shrikhand";
        font-weight: 200;
        margin-bottom: 10px;
    }
    ul{
        padding-left: 0px;
        margin-top: 0px;
        list-style: none;

        li{
            a{
                text-decoration: none;
                color: white;
                display: flex;
                align-items: baseline;
                height: 40px;
            }

            .fa-solid.fa-utensils, .fa-solid.fa-handshake-angle{
                width: 8%;
            }
            .no-icon{
                align-items: center; 
            }
        }
    }
}